<div class="about-us">
    <h2>Sobre Nós</h2>
    <div class="about-content">
        <div class="about-text">
            <p>
                Somos estudantes dos cursos de Administração e Sistemas de Informação da Universidade Unex, em Vitória da Conquista. Em
                nosso compromisso com o desenvolvimento pessoal e profissional, criamos o eBook "Estratégia de Liderança no Ambiente
                Corporativo Moderno". Este material é voltado para líderes e gestores que buscam aperfeiçoar suas habilidades de
                liderança e enfrentar os desafios de um mercado dinâmico e em constante transformação. Nosso objetivo é contribuir para
                o crescimento humano e de carreira, com foco no fortalecimento de equipes, no sucesso corporativo e no desenvolvimento
                dos colaboradores das empresas. Acreditamos que o investimento no potencial das pessoas é o caminho para construir
                ambientes organizacionais mais produtivos e inovadores.
            </p>
        </div>
        <div class="about-image">
            <img src="cats.jpg" alt="Participantes">
        </div>
    </div>
</div>