.about-us {
    background-color: #d4edda;
    /* Verde claro */
    padding: 2rem;
    text-align: center;
    max-width: 100%;
}

h2 {
    font-size: 2rem;
    color: #28a745;
    margin-bottom: 1.5rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: 100%;
    margin: 0 auto;
}

.about-text {
    text-align: left;
    max-width: 600px;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 0.625rem;
}

@media (min-width: 768px) {
    .about-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-text {
        text-align: left;
    }

    .about-image {
        max-width: 40%;
    }
}