<div class="about-us">
    <h2>Sobre</h2>
    <div class="about-content">
        <div class="about-text">
            <p>
                O projeto E-Book é uma iniciativa que visa fornecer um recurso acessível e abrangente para leitores de
                todas as idades. Nossa turma tem se dedicado a criar um conteúdo que seja tanto educativo quanto
                envolvente, com o objetivo de promover a leitura e o aprendizado. Estamos comprometidos em oferecer a
                melhor experiência possível para nossos leitores e estamos sempre buscando maneiras de melhorar e
                expandir nosso projeto.
            </p>
        </div>
        <div class="about-image">
            <img src="cats.jpg" alt="Participantes">
        </div>
    </div>
</div>