<div class="ebook-container">
    <h1 class="ebook-title">Título do E-Book</h1>
    <div class="ebook-content">
        <img class="ebook-image" [src]="ebookCoverImage" alt="Capa do E-Book" />
        <ul class="ebook-topics">
            <li>Comunicação eficaz</li>
            <li>Desenvolvimento pessoal e dos colaboradores</li>
            <li>Ética e integridade</li>
            <li>Visão estratégica</li>
            <li>Adaptabilidade e inovação</li>
        </ul>
    </div>
    <button (click)="downloadEbook()" class="download-button">Baixar E-Book</button>
</div>